.page {
  height: 100%;
  background-image: url(../../images/stream-desktop.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-device-width: 450px) {
  .page {
    background-image: url(../../images/stream-mobile.jpg);
  }
}
