.stream-page {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.frame {
  width: 100%;
  height: 100%;
}
.bar-fullscreen {
  position: absolute;
  top: 70%;
  left: -20%;
  width: 100%;
  height: 40px;
  z-index: 2;
  color: white;
  font-size: 60px;
  font-family: Arial;
  opacity: 0.2;
}

.bar {
  position: absolute;
  top: 60%;
  left: 25%;
  z-index: 2;
  color: white;
  font-size: 40px;
  font-family: Arial;
  opacity: 0.2;
}

.center-it {
  height: 60%;
  width: 70%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  overflow: hidden;
}

.button {
  position: relative;
  top: 93%;
  left: -11%;
  z-index: 2;
}

@media (min-device-width: 1824px) {
  .button {
    position: relative;
    top: 93%;
    left: -23%;
    z-index: 2;
  }
  .center-it {
    height: 60%;
    width: 90%;
  }
}
/* tablets */
@media (max-width: 768px) {
  .button {
    position: relative;
    top: 74%;
    left: -10%;
    z-index: 2;
  }
  .center-it {
    height: 60%;
    width: 90%;
  }
}

@media (max-width: 414px) {
  .center-it {
    height: 60%;
    width: 90%;
  }
  .button {
    position: relative;
    top: 63%;
    left: -17%;
    z-index: 2;
  }
}

@media (max-width: 375px) {
  .center-it {
    height: 60%;
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .button {
    position: relative;
    top: 62%;
    left: -15%;
    z-index: 2;
  }
}

@media (max-width: 320px) {
  .button {
    position: relative;
    top: 64%;
    left: -30%;
    z-index: 2;
  }
}
