.stream-page {
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../images/stream-desktop.jpg);
}

@media (max-device-width: 450px) {
  .stream-page {
    background-image: url(../images/stream-mobile.jpg);
  }
}

.watermark {
  position: absolute;
  flex: 0;
  top: 60%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  z-index: 2;
  color: white;
  font-size: 20px;
  font-family: Arial;
  opacity: 0.2;
  max-width: 50vw;

  @media (min-width: 768px) {
    font-size: 40px;
  }
}

.iframe-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 90vw;

  @media (min-width: 768px) {
    min-width: 60vw;
  }
}

.iframe-player {
  width: 100%;
  aspect-ratio: 16/9;
}

.fullscreen-button {
  position: absolute !important;
  z-index: 50;
  right: 16px;
  top: 16px;

  color: rgba(255, 246, 240, 1) !important;
  background-color: black !important;
  height: 40px !important;
  width: 40px !important;
  min-width: 0 !important;
  padding: 0 0 !important;

  &:hover {
    color: #00adefff !important;
  }

  @media (min-width: 768px) {
    height: 48px !important;
    width: 48px !important;
  }
}
