html {
  margin: 0;
  font-family: "Lato";
}

body {
  margin: 0;
  font-family: "Lato", -apple-system, BlinkMacSystemFont, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  height: 100%;
  display: "flex";
  justify-content: center;
  align-items: center;
}
