.admin {
  height: 100%;
  background-color: antiquewhite;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}

@media (max-device-width: 450px) {
  .admin {
    background-image: url(../../images/stream-mobile.jpg);
  }
}

.form-fields {
  margin-top: 3px;
  margin-bottom: 3px;
  width: 100%;
}

.form-button {
  margin-top: 10px;
}

.download:link,
.download:visited {
  background-color: #3671f4;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.download:hover,
.download:active {
  background-color: #00b9ff;
}
